<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<H1><B>DATA SCIENCE TOOLS AND ECOSYSTEMS<B><H1>

<H2>INTRODUCTION<H2>
In this notebook, Data Science Tools and Ecosystem are summarized.

<H2><U>DATA_SCIENCE LANGUAGES<H2><U>

Some of the popular languages that Data Scientists use are as follow:
1. PYTHON PROGRAMMING LANGUAGE
2. R PROGRAMMING LANGUAGE
3. JULIA PROGRAMMING LANGUAGE

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Visual Studio Code (VSCode) |

### Examples of Evaluating Arithmetic Expressions in Python

In data science and programming, arithmetic expressions are fundamental for performing mathematical calculations. Below are a few examples of how to evaluate arithmetic expressions in Python.

In [7]:
### EXAMPLE OF ARITHEMETIC EXPRESSION
Result = (3 * 4) + 5
Result

17

In [8]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Provide examples of evaluating arithmetic expressions in Python.
- Demonstrate how to convert minutes to hours using Python.
- Create and format markdown cells in Jupyter Notebook.

<h2>AUTHORS<h2>
    
Lakshmi Holla
    
Niveditha Pandith